$global-muted-background: #eceff4;
$global-primary-background: #ec595a;
$global-secondary-background: #ec595a;
$navbar-background: $global-primary-background;
$roboto: 'Roboto', sans-serif;
$montserrat: 'Montserrat', sans-serif;

@import 'node_modules/uikit/src/scss/variables-theme.scss';
@import 'node_modules/uikit/src/scss/mixins-theme.scss';
@import 'node_modules/uikit/src/scss/uikit-theme.scss';



body { 
  font-family: $roboto;
}

h1, h2, h3, h4, h5 {font-family: $montserrat}

.temperature {
  font-family: 'barometer', sans-serif;
  font-size: 130px;
}

.headroom-wrapper {
  height: auto !important;
}
